body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ventana-ingreso {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 20px;

    margin-top: 10px;
}

input[type="text"],
select {
    padding: 8px;
    border-radius: 6px;
    font-size: 15px;
    border: 1px solid #ccc;
}

.user-display {
    align-self: flex-start;
    padding: 6px 10px;
    font-size: 10px;
    background-color: #eee;
    border: none;
    font-weight: bold;
}

.acciones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cancelar-btn {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.ingresar-btn {
    background: none;
    border: none;
    color: green;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
